footer {
  min-height: 24rem;
  background-color: $color-primary;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 98rem;
  margin: 0 auto;
  padding-top: 5rem;
  color: #fff;

  &__logo {
    font-family: $font-display;
    font-size: 3rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 4rem;
    }
  }

  &__nav {
    display: flex;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;

    &--social-facebook,
    &--social-instagram {
      padding-left: 2rem;
      width: 3.3rem;

      &:hover {
        cursor: pointer;
      }

      @media only screen and (max-width: $bp-small) {
        padding-left: 0;
        padding-right: 2rem;
        margin-left: 1rem;
      }
    }

    & > div {
      margin-left: 6rem;

      @media only screen and (max-width: $bp-small) {
        margin-left: 0;
        margin-top: 1.5rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: center;
    }
  }

  @media only screen and (max-width: $bp-large) {
    margin: 0 8rem;
  }

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.author {
  padding-top: 14rem;
  padding-bottom: 4rem;
  color: #fff;
  font-weight: 100;
  font-size: 1.4rem;
  text-align: center;

  a {
    color: inherit;
  }

  @media only screen and (max-width: $bp-medium) {
    padding-top: 8rem;
  }
}
