.cheap-luxury {
  &__title {
    margin-left: 20vw;

    @media only screen and (max-width: $bp-smallest) {
      margin-left: 4rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    text-align: center;
  }
}

.cheap-luxury-list {
  justify-content: flex-start;

  &__gallery {
    &:hover {
      z-index: 10;
      transform: scale(1.1);
    }
  }

  &__gallery img {
    width: 22rem;

    @media only screen and (max-width: $bp-smallest) {
      width: 14rem;
    }
  }
}
