.card {
  min-height: 30rem;
  padding: $xl-size 0;
  background-color: $color-grey-light-1;

  &__title {
    padding-bottom: 3rem;
    font-size: 1.2rem;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.title-and-arrow {
  display: flex;
  justify-content: space-between;

  .arrow-group {
    margin-right: 20%;

    @media only screen and (max-width: $bp-small) {
      margin-right: 10%;
    }
  }

  .circle-arrow__icon {
    display: inline-block;
    padding-top: 0;
    margin-left: -1rem;
  }

  .arrow-left {
    transform: rotate(180deg);
  }
}

.card-list {
  display: flex;
  margin: 0 2rem;
  overflow-x: auto;

  &__gallery {
    position: relative;
    transition: transform 0.2s ease-out;

    &:hover {
      cursor: pointer;
    }
  }

  &__gallery img {
    margin-left: 5px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-left: 0;
  }
}

.card-info {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
  font-weight: 300;

  p {
    margin: 0;
  }

  &__name {
    font-size: 1.2rem;
  }

  &__price {
    font-size: 1.6rem;
  }
}
