.featured-properties-container {
  position: relative;
  min-height: 90rem;
  background: linear-gradient($color-blue-dark, $color-grey-light-2);
}

.featured-properties {
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 104rem;
  min-height: 150rem;
  margin: 0 auto;
}

.featured-properties-inner {
  position: absolute;
  top: 35rem;
  left: 50%;
  transform: translateX(-50%);
  width: 97.2rem;
  height: 500px;
  background-color: #fff;
  box-shadow: 3px -5px 30px -10px rgba(0, 0, 0, 0.1);

  &__text {
    padding-top: 2rem;
    padding-left: 3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
}

.featured-properties-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  margin-top: -3rem;

  // &__filter {
  //   font-size: 1rem;
  // }
}

.featured-properties-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 1.4rem;
}

.featured-properties-card-container {
  position: relative;
  width: 24rem;
  height: 24rem;
  margin: 2px;

  &__title {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;

    &--name {
      font-size: 1.2rem;
      font-weight: 300;
    }

    &--price {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    color: $color-primary;

    &--top {
      padding-top: 2rem;
      font-size: 1.2rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    &--bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 1.5rem;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

.bookmark-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 1.7rem;
  height: 1.7rem;
  transition: all 0.1s ease;

  &:hover {
    width: 1.9rem;
    height: 1.9rem;
  }
}

.circle-arrow {
  position: absolute;
  top: 11.25rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 2px 17px rgba(0, 0, 0, 0.1);
  z-index: 10;

  &:hover {
    background-color: $color-secondary;
    cursor: pointer;
  }
}

.ion-android-arrow-forward {
  display: block;
  padding-left: 1.4rem;
  padding-top: 1rem;
  font-size: 1.4rem;
  color: $color-primary;

  &:hover {
    color: #fff;
  }
}

.bedrooms-group {
  position: relative;

  &__icon {
    position: absolute;
  }

  &__number {
    padding-left: 3rem;
  }
}

.bathrooms-group {
  position: relative;

  &__icon {
    position: absolute;
  }

  &__number {
    padding-left: 3rem;
  }
}

.area-group {
  position: relative;

  &__icon {
    position: absolute;
  }

  &__number {
    padding-left: 3rem;
  }
}

.type-dropdown, .bedrooms-dropdown {
  padding-right: 3rem;
  font-size: 1.4rem;
  font-weight: 300;
}