footer {
  height: 24rem;
  background-color: $color-primary;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 94rem;
  margin: 0 auto;
  padding-top: 5rem;
  color: #fff;

  &__logo {
    font-family: $font-display;
    font-size: 3rem;
  }

  &__nav {
    display: flex;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;

    &--social-facebook,
    &--social-instagram {
      padding-right: 2rem;
      font-size: 1.6rem;
    }

    & > div {
      margin-right: 6rem;
    }
  }
}
