header {
  display: flex;
  flex-direction: column;
  height: 54vh;
  padding-top: 3rem;
  color: $color-primary;
  font-weight: 300;
  background-color: $color-grey-light-1;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 14rem;
  font-size: 1.1rem;

  &__bookmarks {
    display: flex;
  }
}

.nav-buttons-set {
  display: flex;

  &__divider {
    margin: 0 2rem;
    height: 2rem;
    border-right: 1px solid $color-primary;
  }

  &__sign-up {
    display: flex;
  }

  &__log-in {
    display: flex;
  }
}

.ion-ios-personadd-outline,
.ion-ios-person-outline,
.ion-ios-star-outline {
  font-size: 2rem;
  padding-right: 8px;
}

.logo__text {
  font-family: $font-display;
  font-size: 4rem;
  color: $color-primary;
}

.search-group {
  text-align: center;
  padding-bottom: 28rem;
  font-size: 1.4rem;

  &__content {
    &--bold {
      font-weight: 700;
    }
  }

  &__input {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
