header {
  display: flex;
  flex-direction: column;
  height: 54vh;
  padding-top: 3rem;
  color: $color-primary;
  font-weight: 300;
  background-color: $color-grey-light-1;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 14rem;
  font-size: 1.1rem;
}

.nav-buttons-set {
  display: flex;

  &__divider {
    border-left: 1px solid $color-primary;
    height: 2rem;
  }
}

.logo__text {
  font-family: $font-display;
  font-size: 4rem;
  color: $color-primary;
}

.search-group {
  text-align: center;
  padding-bottom: 28rem;
  font-size: 1.4rem;

  &__input {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
