header {
  display: flex;
  flex-direction: column;
  height: 65vh;
  padding-top: 3rem;
  color: $color-primary;
  font-weight: 300;
  background-color: $color-grey-light-1;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 14rem;
  font-size: 1.3rem;

  &__bookmarks {
    display: flex;
    align-items: center;
  }
}

.nav-buttons-set {
  display: flex;
  align-items: center;

  &__divider {
    margin: 0 2rem;
    height: 2rem;
    border-right: 1px solid $color-primary;
  }

  &__sign-up {
    display: flex;
  }

  &__log-in {
    display: flex;
  }
}

.ion-ios-personadd-outline,
.ion-ios-person-outline,
.ion-ios-star-outline {
  font-size: 2.4rem;
  padding-right: 8px;
}

.logo__text {
  font-family: $font-display;
  font-size: 4rem;
  color: $color-primary;
}

.search-group {
  text-align: center;
  padding-bottom: 28rem;
  font-size: 1.4rem;

  &__content {
    &--bold {
      font-weight: 700;
    }
  }

  &__input {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

.search-group__input--bar input {
  padding: 5px;
  width: 30rem;
  height: 4.2rem;
  border: none;
  outline: none;
  box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.1);

  &::placeholder {
    color: $color-primary;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.navigation-icon {
  position: absolute;
  top: 50%;
  left: 32%;
  padding: 0.9rem 1.2rem;
  font-size: 2.4rem;
  color: $color-primary;
  background-color: #fff;
  transform: translateY(-50%);
}

.rectangle-button {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  background-color: $color-secondary;

  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}
