.newly-featured {
  &__title {
    margin-left: 40rem;

    @media only screen and (max-width: $bp-medium) {
      margin-left: 15rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-left: 8rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-left: 4rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    margin-right: 5px;
  }
}

.newly-featured-list {
  justify-content: flex-end;

  &__gallery {
    &:hover {
      transform: translateY(-1.2rem);
    }
  }

  &__gallery img {
    width: 15rem;

    @media only screen and (max-width: $bp-smallest) {
      width: 13rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    justify-content: flex-start;
  }
}