.newly-featured {
  margin-right: 2.5rem;

  &__title {
    margin-left: 40vw;

    @media only screen and (max-width: $bp-medium) {
      margin-left: 30vw;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    margin-right: 5px;
  }
}

.newly-featured-list {
  justify-content: flex-end;

  &__gallery {
    &:hover {
      transform: translateY(-1.2rem);
    }
  }

  &__gallery img {
    width: 15rem;
  }

  @media only screen and (max-width: $bp-medium) {
    justify-content: flex-start;
  }
}