.newly-featured {
  &__title {
    margin-left: 40vw;
  }
}

.newly-featured-list {
  justify-content: flex-end;

  &__gallery {
    &:hover {
      transform: translateY(-1.2rem);
    }
  }

  &__gallery img {
    width: 15rem;
  }
}