.featured-properties-container {
  position: relative;
  min-height: 30rem;
  background: linear-gradient($color-blue-dark, $color-grey-light-2);
}

.featured-properties-nav {
  position: absolute;
  top: 0;
  right: 4rem;
  display: flex;
  justify-content: flex-end;
  z-index: 3;

  @media only screen and (max-width: $bp-large) {
    right: 8rem;
  }

  @media only screen and (max-width: $bp-medium) {
    top: 5rem;
    right: 50%;
    transform: translate(47%, -50%);
  }
}

.featured-properties-card-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 98rem;
  margin: 0 auto;
  padding: 6rem 0 $xl-size;
  font-size: 1.4rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 10rem 0 $xl-size;
  }
}

.menu-background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 97.2rem;
  height: 16rem;
  margin-top: -4rem;
  padding: 3rem 0 0 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: $color-primary;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #fff;
  box-shadow: 3px 4px 24px -5px rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: $bp-large) {
    width: 100vw;
    padding: 3rem 0 0 8rem;
  }

  @media only screen and (max-width: $bp-medium) {
    height: 27.4rem;
    padding: 3rem 0;
    text-align: center;
  }
}

.featured-properties-card-list-item {
  position: relative;
  width: 24rem;
  height: 24rem;
  margin: 2px;
  z-index: 2;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;

    &--name {
      font-size: 1.2rem;
      font-weight: 300;
    }

    &--price {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    color: $color-primary;

    &--top {
      padding-top: 2rem;
      font-size: 1.2rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 1.5rem;
      font-size: 1rem;
      font-weight: 300;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    width: 35rem;
  }
}

.bedrooms-group,
.bathrooms-group,
.area-group {
  position: relative;

  &__icon {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
  }

  &__number {
    padding-left: 3rem;
  }
}

.bookmark-card-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 1.7rem;
  height: 1.7rem;
  transition: all 0.1s ease;

  &:hover {
    width: 1.9rem;
    height: 1.9rem;
    cursor: pointer;
  }
}

.circle-arrow {
  position: absolute;
  top: 11.3rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 2px 17px rgba(0, 0, 0, 0.1);
  z-index: 10;

  &:hover {
    background-color: $color-secondary;
    cursor: pointer;
  }

  &__icon {
    display: block;
    padding-left: 1.4rem;
    padding-top: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}

.dropdown.type-dropdown,
.dropdown.sort-dropdown {
  margin-left: 3rem;
  font-size: 1.4rem;
  font-weight: 300;

  .menu {
    border: none;

    .text {
      padding: 5px;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 2rem;
  }
}

.ui.floating.dropdown .menu {
  box-shadow: 8px 8px 10px -10px rgba(0, 0, 0, 0.2) !important;
}
