.meet-monokel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: url("/images/scene-lookout.jpg") no-repeat;
  background-size: cover;
  color: #ffffff;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    opacity: 0.9;
  }
}

.meet-monokel-info-group {
  z-index: 10;
}

.meet-monokel-text {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  opacity: 1;
}

.meet-monokel-logo {
  font-size: 4rem;
  font-family: $font-display;
}

.meet-monokel-introduction {
  width: 50%;
  margin: 5rem auto;
  font-size: 1.4rem;
  font-weight: 200;

  @media only screen and (max-width: $bp-medium) {
    width: 75%;
  }
}

.meet-monokel-button {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: $color-secondary;

  &:hover {
    color: $color-primary;
  }
}
